.maptree {
    width: 100%;
    min-height: 100%;    
    height: auto;
}

.maptree ul {
    width: 100%;
    height: 100%;
}

.maptree ul li {
    width: 100%;
    display: block;
}

.child-tree li {
    display: block;
    margin-left: 1em;
}