src/* linguist-documentation
packages/renderer/src/public/js/* linguist-documentation
packages/renderer/src/public/css/*.css linguist-documentation
packages/renderer/src/styles/*.scss linguist-documentation
*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
