
@media only screen and (max-width: 640px) {

    body {
        overflow: hidden;
    }

    .menu {
        display: none;
    }

    .menu__main {
        display: none;
    }
    
    .control-box {
        display: none;
    }

    .ul[class*="sub"] {
        display: none;
    }
    
    input[type="radio"] {
        display: none;
    }

    .aside__tabs ul li {
        width: 1em;
        font: menu;
    }

    .toolbar {
        padding-top: 0;
        overflow:visible;
        margin-top: 0;
        height: 4em;
    }

    .toolbar ul {
        margin-top: 0;
        padding-top: 0;
    }

    .toolbar li {
        width: 4em;
        height: 4em;
    }

    .close {
        display: inline-block;
    }
}

@media only screen and (max-width: 360px) {

    .container {
        width: 100%;
        height: 98%;
    }

    .main li {
        width: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.5em;
    }

    body {
        overflow: hidden;
    }

    .menu {
        display: none;
    }

    .menu__main {
        display: none;
    }
    
    .control-box {
        display: none;
    }

    .ul[class*="sub"] {
        display: none;
    }
    
    input[type="radio"] {
        display: none;
    }

    .aside__tabs ul li {
        width: 1em;
        font: menu;
    }

    .toolbar {
        padding-top: 0;
        overflow:visible;
        margin-top: 0;
        height: 4em;
    }

    .toolbar ul {
        margin-top: 0;
        padding-top: 0;
    }

    .toolbar li {
        width: 4em;
        height: 4em;
    }

    .flex-container {
        display: none;
        width: 0;
    }

    .contents {
        width: 60%;
    }
}

@media only screen and (max-width: 180px) {
    .container {
        display: none;
    }
}