<style>
    .themeWindow__control-box {
        position: absolute;
        top: -16px;
        right: 10px;
        text-align: right;
        width: 24px;
        height: 24px;
    }    

    .themeWindow__control-box i:hover {
        color: var(--dark-selection-color);
    }    

</style>
<div id="themeWindow" window-name="테마 변경">
    <select name="theme" id="theme">
        <option value="light">Light</option>
        <option value="dark">Dark (Default)</option>
    </select>
    <div class="themeWindow__control-box">
        <p>
            <span><i class="far fa-window-close" id="action-close"></i></span>
        </p>
    </div>

    <div class="themeWindow__panel">
        <button class="btn btn-default">확인</button>
    </div>            
    
</div>