<style>
    @import "../../css/main.css";

    #tilesetWindow {
        padding: 1em;
        background-color: inherit;
        overflow: hidden;
        background: var(--dark-shadow-color);
        opacity: 1.0;
        position: relative;
    }

    .tilesetWindow__tab-border {
        width: 100%;
        height: max-content;
        border: 1px solid var(--dark-border-color);
        border-radius: 0.4em;
        position: relative;
        background-color: inherit;
        margin-bottom: 1em;
        margin-top: 1.2em;
    }

    .tilesetWindow__tab-border::before {
        content: attr(tab-name);
        position: absolute;
        top: -0.7em;
        left: 0.8em;
        background-color: inherit;
        color: var(--dark-text-color);
        font: menu;
    }

    .tilesetWindow__tab-border ul li {
        margin-bottom: 0.5em;
        font: menu;
    }

    .tilesetWindow__tab-border input {
        text-align: right;
        background-color: var(--dark-input-background-color);
        color: var(--dark-input-text-color);
        border: var(--dark-border-color);
    }

    .tilesetWindow__tab-border input:focus {
        outline: none;
    }

    #tilesetWindow .tilesetWindow__control-box {
        position: absolute;
        top: -16px;
        right: 10px;
        text-align: right;
        width: 24px;
        height: 24px;
    }    

    #tilesetWindow .tilesetWindow__control-box i:hover {
        color: var(--dark-selection-color);
    }    

    .tilesetWindow__panel {
        float: right;
    }

    #tilesetWindow button {
        background-color: var(--dark-title-color);
        border: 1px solid var( --dark-border-color);
    }    

    #tilesetWindow button:hover, button:focus {
        outline: none;
        background-color: var(--dark-selection-color);        
    }

    #tilesetWindow button:active {
        outline: none;
        background-color: rgba(60,60,60,0.9);        
    }

</style>
<div id="tilesetWindow" window-name="타일셋 창">
    <form action="http://localhost:8080/upload_images" method="POST" name="uploadTilesetImage" enctype="multipart/form-data">
        <div class="tilesetWindow__tileset tilesetWindow__tab-border" tab-name="타일셋">
            <ul>
                <li><label for="name">Name : </label><input type="text" placeholder="name" name="name"></li>
                <li><label for="name">Images: </label>
                    <!-- <input type="file" placeholder="" accept="image/png" name="image"> -->
                    <!-- <input type="text" id="image-load-dialog"> -->
                    <input type="file" name="" id="image-load-dialog">
                </li>        
            </ul>             
        </div>
        <div class="tilesetWindow-tile tilesetWindow__tab-border" tab-name="타일">
            <ul>
                <li><label for="tile-width">Tile Width : </label><input type="number" id="tile-width" value="32" name="tileWidth">px</li>
                <li><label for="tile-height">Tile Height : </label><input type="number" id="tile-height" value="32" name="tileHeight">px</li>
            </ul>
        </div>
    
        <div class="tilesetWindow__control-box">
            <p>
                <span><i class="far fa-window-close" id="action-close"></i></span>
            </p>
        </div>

        <div class="tilesetWindow__panel">
            <input type="submit" id="ok" value="OK" />
            <button id="cancel">Cancel</button>
        </div>        
    </form>
    <img src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' onload='window.app.onLoad(this, "tileset");this.parentNode.removeChild(this);'>
</div>
